{% extends "base.html" %}
{% load static staticv wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}


{% block content %}

<!-- Navbar -->
{% include 'home/navbar.html' %}
<!-- End of navbar -->

<!-- Page sections -->
<div id="fullpage">

    <!-- Home Section -->
    {% image page.gallery_images.first.image fill-2560x1580 as main_image %}
    <div class="section" id="section_home" style="background-image:url({{ main_image.url }}); background-size:cover;">

        <div class="row align-items-center h-100">
            <div class="col-sm-1"></div>

            <div class="col-sm-5 text-white p-4" style="background-color: rgba(37, 37, 167, 0.7);">

                <h1 class="home_brand">{{ page.title }}</h1>
                <h3 class="home_motto">{{ page.motto }}</h3>
                {{ page.body|richtext }}
                <h4 class="text-right">
                    <a href="#{{ page.home_sections.first.section.slug }}" class="btn btn-primary mr-1">Learn more</a>
                    <button class="btn btn-success demo_request_get_button">Request a demo</button>
                </h4>
                {% if user.is_authenticated %}
                <h5><a href="{% url 'clients:list' %}">Registered clients <i class="fas fa-arrow-alt-circle-right"></i></a></h5>
                {% endif %}
            </div>
        </div>

    </div>
    <!-- End of home section -->

    <!-- Extra sections -->
    {% for item in page.home_sections.all %}
        {% with section=item.section.specific %}

        <!-- Section start -->
        <div class="section">

            {{ section.section }}

            {% if not section.section_slides.all %}

                {% include 'home/home_sections.html' %}

            {% else %}

                {% include 'home/home_slides.html' %}

            {% endif %}

        </div>
        <!-- End of section -->

        {% endwith %}
    {% endfor %}
    <!-- End of extra sections -->

</div>
<!-- End of page sections -->

<!-- Modal -->
<div class="modal fade" id="homeModalCenter" tabindex="-1" role="dialog" aria-labelledby="homeModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="homeModalLongTitle">Request a demo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary demo_request_post_btn">Request</button>
      </div>
    </div>
  </div>
</div>

<!-- Page data -->
<div class="page_data" data-anchors="{% for item in page.home_sections.all %}{% with section=item.section.specific %}{{ section.slug }}{% if not forloop.last %}, {% endif %}{% endwith %}{% endfor %}"></div>

{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/phone_codes.js' %}?v={% staticv 'clients/static/js/phone_codes.js' %}"></script>
{% endblock %}
