<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto nav-pills mr-3">
            <li class="nav-item">
                <a class="nav-link" data-menuanchor="home" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-menuanchor="product" href="#product">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-menuanchor="zen" href="#zen">Zen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-menuanchor="investors" href="#investors">Investors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-menuanchor="about" href="#about">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
    </div>
</nav>
