<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand ml-3 d-none" href="#">Risk Galaxy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto nav-pills mr-3">
            <li class="nav-item">
                <a class="nav-link" data-menuanchor="home" href="#home">Home</a>
            </li>
            {% for p in page.get_children  %}
                <li class="nav-item">
                    <a class="nav-link" data-menuanchor="{{ p.specific.title|slugify }}" href="#{{ p.specific.title|slugify }}">{{ p.specific.title }}</a>
                </li>
            {% endfor %}
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
    </div>
</nav>
