<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand ml-3 text-transparent" href="#home">Risk Galaxy</a>

    <!--Navbar toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleMenu" aria-controls="navbarToggleMenu" aria-expanded="false" aria-label="Toggle navigation">
    <i class="text-white fas fa-bars"></i>
    </button>

    <!-- Navbar buttons -->
    <div class="collapse navbar-collapse position-relative" id="navbarToggleMenu">
        <ul class="navbar-nav ml-auto nav-pills mr-3">
            <li class="text-right mt-1 d-lg-none"><button class="btn btn-link dismiss_nav text-galaxy"><i class="fas fa-window-close fa-2x"></i></button></li>
            <li class="nav-item home-item">
                <a class="nav-link" data-menuanchor="home" href="#home">Home</a>
            </li>
            {% for p in page.get_children  %}
                <li class="nav-item">
                    <a class="nav-link" data-menuanchor="{{ p.specific.title|slugify }}" href="#{{ p.specific.title|slugify }}">{{ p.specific.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

</nav>

{#  #}
