{% load wagtailcore_tags wagtailimages_tags %}

<!-- Slide row -->
<div class="row align-items-center h-100 pt-5 pb-5">

{% if slide.align == 'cr' %}

    <!-- Slide image -->
    <div class="col-md-5 offset-md-1 pl-4 pr-4">
        {% image slide.gallery_images.first.image fill-600x600 as slide_image %}
        <img  class="img-fluid" style="border-radius:40px;" src="{{ slide_image.url }}"/>
    </div>
    <!-- End slide image -->

    <!-- Slide content -->
    <div class="col-md-5 pl-4 pr-4">
        <h2 class="title text-galaxy">{{ slide.title }}</h2>
        {{ slide.body|richtext }}
    </div>
    <!-- End slide content -->

{% elif slide.align == 'cl' %}

    <!-- Slide content -->
    <div class="col-md-5 offset-md-1 pl-4 pr-4">
        <h2 class="title text-galaxy">{{ slide.title }}</h2>
        {{ slide.body|richtext }}
    </div>
    <!-- End slide content -->

    <!-- Slide image -->
    <div class="col-md-5 pl-4 pr-4">
        {% image slide.gallery_images.first.image fill-600x600 as slide_image %}
        <img  class="img-fluid" style="border-radius:40px;" src="{{ slide_image.url }}"/>
    </div>
    <!-- End slide image -->

{% elif slide.align == 'fl' %}

    <!-- Slide content -->
    <div class="col-md-4 offset-md-1 pl-4 pr-4">
        <h2 class="title text-galaxy">{{ slide.title }}</h2>
        {{ slide.body|richtext }}
    </div>
    <!-- End slide content -->

    <!-- Slide image -->
    <div class="col-md-6 pl-4 pr-4">
        {% image slide.gallery_images.first.image original as slide_image %}
        <img  class="img-fluid" src="{{ slide_image.url }}"/>
    </div>
    <!-- End slide image -->

{% elif slide.align == 'fr' %}

    <!-- Slide image -->
    <div class="col-md-6 offset-md-1 pl-4 pr-4">
        {% image slide.gallery_images.first.image original as slide_image %}
        <img  class="img-fluid" src="{{ slide_image.url }}"/>
    </div>
    <!-- End slide image -->

    <!-- Slide content -->
    <div class="col-md-4 pl-4 pr-4">
        <h2 class="title text-galaxy">{{ slide.title }}</h2>
        {{ slide.body|richtext }}
    </div>
    <!-- End slide content -->

{% endif %}

</div>
<!-- End slide row -->
