<div class="row align-items-center h-75">
    <div class="col-md-8">
        <h4>Our Zen</h4>
        <p>What inspires us to deliver a great product.</p>


        <dl>
            <dt>Risk management should be participative</dt>
            <dl>All employees who are somehow involved in identifying and managing risks across the organisation should have a say in the process.</dl>

            <dt>Communication is everything</dt>
            <dl>We promote the interaction between individuals across hierarchy and locations as the best way to drive risk awareness and trigger actions.</dl>

            <dt>Users need flexibility</dt>
            <dl>We prefer to give users while maximum freedom to use their own words to describe the risks, controls and activities rather than picking from a one-size-fits-all risk universe. We are a Galaxy after all...</dl>

            <dt>Keep it ultra simple</dt>
            <dl>We take very seriously our commitment to keep complexity to a minimum. We refuse to match the 'sofistication' of other products in the market that turn risk management into a tick-and-bash bureaucratic burden.</dl>

            <dt>Users should say Wow!</dt>
            <dl>We are committed to making Risk Management be cool, as opposed to boring, by making our software intuitive, super fast and visually stunning.<dl>
        </dl>

    </div>
</div>
