<div class="row align-items-center">
    <div class="col-md-11 offset-md-1">
        <h2 class="title">Our principles</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-5 offset-md-1">
        <dl class="lead">
            <dt>Risk management should be participative</dt>
            <dd>All employees who are somehow involved in identifying and managing risks across the organisation should have a say in the process.</dd>
            <dt>Communication is everything</dt>
            <dd>We promote the interaction between individuals across hierarchy and locations as the best way to drive risk awareness and trigger actions.</dd>
            <dt>Users need flexibility</dt>
            <dd>We prefer to give users while maximum freedom to use their own words to describe the risks, controls and activities rather than picking from a one-size-fits-all risk universe. We are a Galaxy after all...</dd>
        </dl>
    </div>
    <div class="col-md-5">
        <dl class="lead">
            <dt>Keep it ultra simple</dt>
            <dd>We take very seriously our commitment to keep complexity to a minimum. We refuse to match the 'sofistication' of other products in the market that turn risk management into a tick-and-bash bureaucratic burden.</dd>
            <dt>Users should say Wow!</dt>
            <dd>We are committed to making Risk Management be cool, as opposed to boring, by making our software intuitive, super fast and visually stunning.<dd>
        </dl>
    </div>
</div>
