/****** BODY AND CONTAINER ******/

body {
    display: none;
}

.no-padding {
    padding: 0px;
    margin-right:auto;
    margin-left:auto;
 }

 /****** NAVBAR ******/

.navbar {
    background-color: transparent;
    color: white;
}
.navbar-brand {
    font-family: 'Audiowide', cursive;
}

.navbar-brand {
    color: #4343d6 !important;
}

.navbar-nav .nav-link {
    background-color: #eaeafa;
    border-radius: 40px !important;
    margin-right: 5px;
    color: #4343d6;
    min-width: 120px;
    text-align: center;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.active:hover {
    color: white;
    background-color: #4343d6 !important;
}

.navbar-nav .nav-link:hover {
    background-color: #d5d5f6 !important;
}

.navbar-collapse.show>ul>.nav-item,
.navbar-collapse.collapsing>ul>.nav-item
 {
    margin-top: 10px;
    margin-bottom: 10px !important;
}

.navbar-collapse.show,
.navbar-collapse.collapsing {
    padding: 10px;
    /*background-color: rgba(67, 67, 214, 0.5);*/
    background-color: rgba(255, 255, 255, 0.9);
    top: -50px;
    margin-left:-20px;
    margin-right:-20px;
    padding-top: 30px;
    padding-bottom: 100% !important;
}


/***** HOME SECTION *****/

.home_content_div {
    /*position: relative;*/
    /*background-color: rgba(37, 37, 167, 0.7);*/
    /*width: 50%;*/
    /*height:100%;*/
    /*padding: 20px;*/
    /*color: white;*/
    /*top: 50%;*/
    /*overflow: !important;*/
}

.home_brand {
    font-family: 'Audiowide', cursive;
}

/***** EXTRA SECTIONS *****/

.section {
    /*padding-top: 10%;*/
}


.section_row {
    /*background-color: rgba(255, 153, 204, 0.2);*/
    /*position: absolute;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*padding-top: 10%;*/
    /*padding-bottom: 5%;*/
    /*margin-left: 0%;*/
    /*margin-right: 0%;*/
}

.content_col_right {
    /*background-color: rgba(255, 254, 112, 0.5);*/
    /*left:53%;*/
    /*left: 3%;*/
}

.content_col_left {
    /*background-color: rgba(255, 254, 112, 0.5);*/
    /*right: 3%;*/
}

.img_col_right {
    /*position: absolute;*/
    /*background-color: rgba(117, 255, 112, 0.5);*/
    /*right: 0%;*/
    /*height: 100%;*/
    /*margin-top: -10%;*/
    /*margin-bottom: -5%;*/
    /*background-size:cover;*/
}

.img_col_left {
    /*position: absolute;*/
    /*background-color: rgba(117, 255, 112, 0.5);*/
    /*left: 0%;*/
    /*height: 100%;*/
    /*margin-top: -10%;*/
    /*margin-bottom: -5%;*/
    /*background-size:cover;*/
}

/***** SECTION NAVIGATION *****/

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #4343d6;
}

#fp-nav {
    top: 90% !important;
}

/***** SLIDE NAVIGATION *****/

.slide_menu {
    position: absolute;
    top: 90%;
    width: 100%;
    z-index: 1000;
    /*background-color: rgba(117, 255, 112, 0.5);*/
}

.nav .nav-link {
    color: #4343d6;
    background-color: #eaeafa !important;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 40px;
}

.nav .nav-link:hover {
    background-color: #d5d5f6 !important;
}

.nav .nav-link.active {
    background-color: #c0c0f1 !important;
}

/***** SLIDE ARROWS *****/

.fp-controlArrow {
    width: none;
    height: none;
    cursor: pointer;
    /*background-color: rgba(255, 254, 112, 0.5);*/
    position: absolute;
    top: 50%;
    color: #c0c0f1;
    z-index: 2;
}

.fp-controlArrow.fp-next {
    right: 50px;
    border-width: 0;
    border-color: transparent;
}

.fp-controlArrow.fp-prev {
    /*left: 100px;*/
    border-width: 0;
    border-color: transparent;
}

.fp-controlArrow:hover {
    color: #9696e8;
}

.fp-controlArrow:active {
    color: #4343d6;
}

/***** SLIDES *****/

.slide_row {
    /*background-color: rgba(255, 153, 204, 0.2);*/
    /*height: 90%;*/
    /*width: 100%;*/
/*    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 5%;
    margin-left: 0%;
    margin-right: 0%;*/
}

/*.slide_img_cr {
    position: relative;
    background-repeat: no-repeat;
    border-radius: 40px;
    max-width: 100%;
    background-size:cover;
    left: 2%;
    background-color: rgba(117, 255, 112, 0.5);
}*/



.slide_img_cl {
    /*background-repeat: no-repeat;*/
    /*border-radius: 40px;*/
    /*background-size:cover;*/
    /*background-color: rgba(117, 255, 112, 0.5);*/
}


.slide_img_fr, .slide_img_fl {
    max-width: 100%;
    max-height: 90%;
}



.slide_content_cr {
    /*background-color: rgba(255, 254, 112, 0.5);*/
    /*left: 2%;*/
}

/***** FORM *****/

.country-select {
    display: block;
}

 /******* GENERAL ********/

.text-galaxy {
    color: #4343d6;
}

.text-transparent {
    color: transparent !important;
}

.text-galaxy-5 {
    color: #d5d5f6 !important;
}

.btn {
    border-radius: 40px !important;
}





/*.jumbotron {
    background-color: rgba(67, 67, 214, 0.8);
    color: white;
    max-height: 100%;
}*/


/***** OTHER *****/
/*.nav-pills .nav-link {
    border-radius: 40px !important;
}



.nav-collapse {
    position: absolute !important;
    bottom: 20px !important;
}




/* Navbar navigation */



/* Slide navigation */




/*.title {
    color: #4343d6;
}*/

/*.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #4343d6;
}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 15px 15px 15px 0;
    border-color: transparent #4343d6 transparent transparent;
}*/

/*.bg-jumbotron {
    background-color: rgba(67, 67, 214, 0.6);
    padding-top: 15px;
    padding-bottom: 5px;
    color: white;
}*/

/*.dismiss_nav {
    position: relative;
    top: -27px;
    left: 14px;
}*/

/* SLIDE MENU */

/*
}



.fp-slidesNav {
    top: 90% !important;
}

*/

/* Section container */

/*.fp-section {
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
}*/

/*.page_content {
    position: relative;
    top: 30%;
}*/

/*.img_col {
    position: absolute;
    right: 0px;
    top: 100%;
}

.page_image {

    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

}*/




