body {
    display: none;
}

.no-padding {
    padding: 0px;
    margin-right:auto;
    margin-left:auto;
 }

.jumbotron {
    background-color: rgba(67, 67, 214, 0.6);
    color: white;
    max-height: 100%;
}
.navbar {
    background-color: transparent;
    color: white;
}
.navbar-brand, .brand {
    font-family: 'Audiowide', cursive;
}

.navbar-brand, .text-galaxy {
    color: #4343d6 !important;
}

.text-transparent {
    color: transparent !important;
}


#section_home {
    background-image: url('../img/galaxy004.jpeg');
    background-size:cover;
}

/*.badge-primary {
    background-color: rgba(67, 67, 214, 0.7);
}

.badge-primary:hover {
    background-color: rgba(67, 67, 214, 1) !important;
}

.badge-primary:focus {
    background-color: #2929bc !important;
}*/

.nav-pills .nav-link {
    border-radius: 40px !important;
    /*margin-bottom: 5px !important;*/
}

.nav-item {
    background-color: #6d6ddf;
    border-radius: 40px !important;
    margin-left: 5px;

}

/*.nav-collapse {
    position: absolute !important;
    bottom: 20px !important;
}*/


.navbar-collapse.show>ul>.nav-item,
.navbar-collapse.collapsing>ul>.nav-item
 {
    margin-top: 10px;
    margin-bottom: 10px !important;

}

.navbar-collapse.show,
.navbar-collapse.collapsing {
    padding: 10px;
    /*background-color: rgba(67, 67, 214, 0.5);*/
    background-color: rgba(255, 255, 255, 0.85);
    top: -50px;
    margin-left:-20px;
    margin-right:-20px;
    padding-top: 30px;
    padding-bottom: 100% !important;
}

.nav-link {
    color: white;
    min-width: 130px;
    text-align: center;
}
.nav-link.active {
    background-color: #2929bc !important;
}

.nav-link:hover {
    color: white;
    background-color: #4343d6;
}

.title {
    color: #4343d6;
}

.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #4343d6;
}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 15px 15px 15px 0;
    border-color: transparent #4343d6 transparent transparent;
}

.bg-jumbotron {
    background-color: rgba(67, 67, 214, 0.6);
    padding-top: 15px;
    padding-bottom: 5px;
    color: white;
}

.dismiss_nav {
    position: relative;
    top: -20px;
/*    right: 10px;*/
}
