{% load static staticv wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        </div>

        {% if not debug %}

        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116126741-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-116126741-1');
        </script>
        <!-- End of Google Analytics -->

        {% endif %}

        {# Global stylesheets #}
        <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/countrySelect.min.css' %}?v={% staticv 'clients/static/css/countrySelect.min.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fullPage.css' %}?v={% staticv 'config/static/css/jquery.fullPage.css' %} ">
        <link rel="stylesheet" type="text/css" href="{% static 'css/rgsite.css' %}?v={% staticv 'config/static/css/rgsite.css' %}">




        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <div class="container-fluid no-padding">
            {% wagtailuserbar %}
            <!-- CONTENT START -->
            {% block content %}{% endblock %}
            <!-- END OF CONTENT -->


        {# Global javascript #}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="{% static 'js/fontawesome-all.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.fullPage.js' %}?v={% staticv 'config/static/js/jquery.fullPage.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/countrySelect.min.js' %}?v={% staticv 'clients/static/js/countrySelect.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.fullpage.extensions.min.js' %}?v={% staticv 'config/static/js/jquery.fullpage.extensions.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/rgsite.js' %}?v={% staticv 'config/static/js/rgsite.js' %}"></script>


        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
